.form-row {
    display: flex;
    flex-direction: column;
}

.task-form {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    /* Adjust automatically based on content */
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}

.red-color {
    color: red;
}